{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/contact.jpg" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Envíanos tus dudas</span>
              <span class="section-heading-lower">Contacto</span>
            </h2>

            <!-- Formulario de contacto -->
            <form>
              <div class="form-group">
                <label>Nombre *</label>
                <div class="input-group">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label>Email *</label>
                <div class="input-group">
                  <input type="text" class="form-control">
                </div>
                <ul class="errorlist">
                  <li>El email no es correcto.</li>
                </ul>
              </div>
              <div class="form-group">
                <label>Mensaje *</label>
                <div class="input-group">
                  <textarea class="form-control"></textarea>
                </div>
              </div>
              <div class="text-center">
                <input type="submit" class="btn btn-primary btn-block py-2" value="Enviar">
              </div>
            </form>
            <!-- Fin formulario de contacto -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}