{% load static %}

<!-- Pié de página -->
<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0">
            {% if link_twitter %}
            <a href="#" class="link">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            {% endif %}
            {% if link_facebook %}
            <a href="#" class="link">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            {% endif %}
            {% if link_instagram %}
            <a href="#" class="link">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            {% endif %}
        </p>
        <p class="m-0 mbt">
            {% load pages_extras %}
            {% get_page_list as page_list %}
            {% for page in page_list %}
                <a href="{% url 'page' page.id page.title|slugify %}" class="link">{{page.title}}</a>{% if not forloop.last %} · {% endif %}
            {% endfor %}
        </p>
        <p class="m-0 mbt1">&copy; La Caffettiera 2024</p>
    </div>
</footer>